spring:
  application:
    name: inventory-service

  datasource:
    url: jdbc:postgresql://localhost:5432/inventory
    username: inventory
    password: inventory123
    driver-class-name: org.postgresql.Driver

    hikari:
      pool-name: InventoryHikariPool
      maximum-pool-size: 5
      minimum-idle: 2
      idle-timeout: 30000
      max-lifetime: 600000
      connection-timeout: 20000
      leak-detection-threshold: 60000

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        connection:
          isolation: 2

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,hikaricp
  endpoint:
    health:
      show-details: always

server:
  port: 8080

logging:
  level:
    com.zaxxer.hikari: DEBUG
    org.hibernate.SQL: DEBUG
    com.interview.inventory: DEBUG
